.example-spacer {
  flex: 1 1 auto;
}
button {
  color: aliceblue;
  border: none;
  background-color: transparent;
}

button:hover {
  color: rgb(122, 235, 235);
}

mat-toolbar {
  color: aliceblue;
  background-color: #090d0f;
}
